body{
  background: #4672E8;
  height: 100vh;
  width: 100vw;
  position: relative;
  font-family: 'Gloria Hallelujah', cursive;

}
.title{
  text-align: center;
  margin-top: 16vh;
  font-size: 60px;
}
.topic{
  margin-bottom: 10px;
}

.enterNames, .set-topic{
  height: 30vh;
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 0 auto;
}
.start, .topic-display, #set-answer{
  width: 40vw;
  margin: 0 auto 0 auto;
  text-align: center;
}

.guess-letters{
  text-align: center;
  height: 25vh;
  letter-spacing: 10px;
  margin: -10vh auto 5vh auto;
  /*width: auto;*/
  /*font-size: 3.5vh;*/
  font-size: 2.5vw;
  /*display: inline-block;*/
}
/*.nonSpaces{
  word-break: keep-all;
}*/
.submit-answer{
  height: 30vh;
  width: 40vw;
  margin: 0 auto;
  text-align: center;
}
#buttons{
  width: 80vw; height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 10vw;
  bottom: 0;

}
.individual-button{
  /*display: inline-block;*/
  height: 40px;
  width: 40px;
  margin: 4px;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 3px 3px 3px;
  border-radius: 10px;
  background: greenyellow;
}
.hangman{
  height: 300px;
  width: 300px;
  background-image: url('./images/post.png');
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 50px;
}

input[type=text] {
  width: 100%;
  padding: 10px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Gloria Hallelujah', cursive;
  border-radius: 5%;
  text-align: center;
}
.btn{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 15px;
  cursor: pointer;
}

#head{
  height: 50px;
  width: 35px;
  border-radius: 50%;
  border: 2px solid black;
  position: absolute;
  top: 25px;
  right: 83px;
  visibility: hidden;
}
#body{
  height: 85px;
  width: 4px;
  position: absolute;
  right: 100px;
  background: black;
  top: 77px;
  visibility: hidden;
}
#larm, #rarm, #lleg, #rleg{
  position: absolute;
  width: 2px;
  height: 35px;
  background: black;
  visibility: hidden;
}
#larm, #rarm{
  right: 100px;
  top: 90px;
}
#larm{
  transform: rotate(-45deg);
  right: 89px;
}
#rarm{
  transform: rotate(45deg);
  right: 113px;
}
#lleg{
  top: 158px;
  right: 112px;
  transform: rotate(35deg);
}
#rleg{
  top: 158px;
  right: 90px;
  transform: rotate(-35deg);
}

.gameOver{
  color: red;
}
.guesses{
  position: absolute;
  top: 50px;
  right: 50px;
  font-size: 35px;
}
#guessNumber{
  color: red;
}
footer{
  text-align: center;
  
}
