body{
  background: #4672E8;
  font-family: 'Gloria Hallelujah', cursive;
}

.title{
  text-align: center;
  margin-top: 10px;
  font-size: 60px;
}

.guess-letters{
  width: 600px;
  height: 250px;
  position: relative;
  left: 700px;
  top: 130px;
  text-align: center;
}

.hero{
  text-align: center;
  height: 200px;
  width: 200px;
  position: relative;
  margin: auto;
  margin-top: 100px;
}

.letter{
  position: relative;
  display: inline-block;
  height: 50px;
  width: 50px;
  letter-spacing: 10px;
  font-size: 10px;
}
.fa-sign-out{
  margin-right: 10px;
}

.navbar{
  position: absolute;
  top: 0;
  left: 0;
  height: 80px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.signout, .scoreboard{
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px;
  cursor: pointer;
  z-index: 3;
}

.leaderboard{
  position: relative;
  height: 400px;
  width: 600px;
  background: #141414;
  margin: 0 auto;
  border: 35px solid #4CAF50;
  overflow-y: scroll;
  color: #D3D3D3;
  padding-right: 17px;
}

.back-to-play{
  position: relative;
  margin: 20px auto 0 auto;
  width: 200px;
  text-align: center;
}

th, td{
  width: 200px;
  text-align: center;
}

th{
  font-size: 20px;
  height: 50px;
}

.sign-in-button{
  height: 100px;
  width: 100px;
  text-align: center;
  position: relative;
  margin: 150px auto 0 auto;
}

.fa-play-circle{
  cursor: pointer;
}

.personal-score{
  width: 110px;
  height: 60px;
  border: 8px solid #D3D3D3;
  position: absolute;
  right: 200px;
  top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  background: #141414;
  color: white;
}

.play-button{
  height: 72px;
  width: 70px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: -350px auto 0 auto;
  cursor: pointer;
}

.dashes{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 800px;
  right: 100px;
  top: 220px;
  font-size: 28px;
  letter-spacing: 20px;
}

.submit-answer{
  height: 30vh;
  width: 40vw;
  margin: 0 auto;
  text-align: center;
}

.fa-refresh{
  cursor: pointer;
}

.individual-button{
  height: 45px;
  width: 45px;
  margin: 4px;
  font-size: 18px;
  border-radius: 20%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #141414;
  color: white;
  font-family: 'Gloria Hallelujah', cursive;
}
.hangman{
  height: 500px;
  width: 400px;
  background-repeat: no-repeat;
  background-image: url('./images/hangman.png');
  background-size: 60%;
  position: absolute;
  top: 75px;
  left: 50px;
  background-position: center;
  margin-top: 100px;
}

.eyes{
  height: 20px;
  width: 37px;
  position: relative;
  margin: 0 auto;
  top: -540px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.eyeball{
  height: 16px;
  width: 5px;
  background: #8A0707;
  display: inline-block;
}
.eyeballLeft{
  transform: rotate(45deg);
  margin-right: -6px;
}

.eyeballRight{
  transform: rotate(-45deg);
  margin-left: -6px;
}

.nametag{
  position: relative;
  height: 50px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  top: 25%;
  color: white;
}

.upright{
  position: relative;
  height: 400px;
  width: 10px;
  left: 20px;
  background: black;
  top: -120px;
  border-radius: 20%;
}

.noose{
  position: relative;
  width: 50px;
  height: 25px; /* as the half of the width */
  /*background-color: bo;*/
  border-bottom-left-radius: 35px;  /* 100px of height + 10px of border */
  border-bottom-right-radius: 35px; /* 100px of height + 10px of border */
  border: 10px solid #654321;
  border-top: 0;
  top: -380px;
  margin: 0 auto;
}

.rope{
  position: relative;
  height: 65px;
  width: 10px;
  margin: 0 auto;
  top: -560px;
  background: #654321;
}

.base{
  position: relative;
  height: 10px;
  width: 100px;
  background: black;
  bottom: -280px;
  left: -10px;
}

.crossbar{
  position: relative;
  width: 200px;
  height: 10px;
  top: -525px;
  background: black;
  left: 20px;
  border-radius: 20%;
}

input[type=text] {
  width: 100%;
  padding: 10px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Gloria Hallelujah', cursive;
  border-radius: 5%;
  text-align: center;
}
.btn{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 15px;
  cursor: pointer;
}
