body{
  background: #444;
  height: 100vh;
  width: 100vw;
  position: relative;
}
.title{
  text-align: center;
}

.enterNames, .set-topic{
  height: 30vh;
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 0 auto;
}
.start, .topic-display, #set-answer{
  width: 40vw;
  margin: 0 auto 0 auto;
  text-align: center;
}

.guess-letters{
  text-align: center;
  height: auto;
  /*background: tomato;*/
  font-size: 90px;
  letter-spacing: 25px;
  margin: 0 auto 20vh auto;
  width: 80vw;
  word-break: break-all;
}
.submit-answer{
  height: 30vh;
  width: 40vw;
  margin: 0 auto;
  text-align: center;
}
#buttons{
  width: 80vw; height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 10vw;
  bottom: 5vh;

}
.individual-button{
  height: 40px;
  width: 40px;
  margin: 5px;
  font-size: 20px;
  cursor: pointer;
}
