<div class="hero">
  <i class="fa fa-male fa-5x big-icon" aria-hidden="true"></i>

</div>
<div class="sign-in-button">
  <button type="submit" class="btn" {{action 'signIn'}}>Play</button>
</div>

{{outlet}}
