<div id="set-answer">
  <p>{{index.pname}}, no cheating!</p>
  <p>{{index.executioner}}, Set Answer:</p>
</div>
<div class="answer-list-component">
  {{answer-list}}
</div>
<div id="buttons">
  {{alphabet-list}}
</div>
