<div class="set-answer">
  <p>{{signin.p1name}}, Set Topic:</p>
  {{input type="text" value=topic placeholder="Topic" cols="40" rows="10"}}
  <p>Set Answer:</p>
  {{input type="text" value=answer placeholder="Answer" cols="40" rows="10"}}<br>
  {{#link-to "play"}}<button>Submit</button>{{/link-to}}
</div>
