<div class="set-topic">
  <p>{{index.executioner}}, set a topic:</p>
  {{input type="text" value=topic placeholder="Topic" cols="40" rows="10"}}
  {{!-- <p>{{index.executioner}}, set the answer:</p> --}}
  {{!-- {{input type="text" value=answer placeholder="Answer" cols="40" rows="10"}}<br> --}}

  {{#link-to "setanswer"}}<button type="submit">Next</button>{{/link-to}}
</div>
