<div class="set-topic">
  <p>{{index.executioner}}, set a topic:</p>
  {{input type="text" value=topic placeholder="Topic" cols="40" rows="10"}}
  {{#link-to "play"}}<button type="submit">Next</button>{{/link-to}}
</div>
