<div class="enterNames">
  <h2>Player Sign In</h2>
  <form {{action save on="submit"}}>
    <div class="p1input">
      {{input type="text" placeholder="Player 1" valueBinding="p1name" cols="60" rows="1"}}
    </div>
    <div class="p2input">
      {{input type="text" placeholder="Player 2" valueBinding="p2name" cols="60" rows="1"}}
    </div>
    {{!-- {{#link-to "setanswer"}} --}}
    <button>Submit</button>
    {{!-- {{/link-to}} --}}
  </form>
</div>
